[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ollama = "*"
pyaudio = "*"
wave = "*"
faster-whisper = "*"
py3-tts = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
