[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
plotly = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11.4"
