[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ollama = "*"
scipy = "*"
opencv-python = "*"
numpy = "*"
sentence-transformers = "*"
transformers = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
